@import url('https://fonts.googleapis.com/css?family=Baloo+2');

body {
    background: #ffffff;
    max-width: auto;
    max-height: auto;
    overflow-x: hidden;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 130px;
    font-size: 24px;
    background-color: #FFC0CB;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    z-index: -1;
}

.boton-con-imagen {
    width: 200px; /* Ajusta el ancho del botón según tus necesidades */
    height: 100px; /* Ajusta la altura del botón según tus necesidades */
    background-image: url(../../images/bder.png); /* Reemplaza 'ruta-de-la-imagen.jpg' con la URL o la ruta a tu imagen */
    background-size: cover; /* Cubre completamente el botón con la imagen */
    border: none; /* Quita el borde del botón, si lo deseas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón para indicar que es interactivo */
}

.boton-con-imagen2 {
    width: 200px; /* Ajusta el ancho del botón según tus necesidades */
    height: 100px; /* Ajusta la altura del botón según tus necesidades */
    background-image: url(../../images/bizq.png); /* Reemplaza 'ruta-de-la-imagen.jpg' con la URL o la ruta a tu imagen */
    background-size: cover; /* Cubre completamente el botón con la imagen */
    border: none; /* Quita el borde del botón, si lo deseas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón para indicar que es interactivo */
}

.container.rounded {
    margin-top: 900px;
}

.container-con-borde {
    border: 3.5px dashed #3399CC;
    background: #ffffff;
    margin-top: 900px;
}

.profile-buttonddl {
    font-weight: 600; /* Semibold */
    font-size: 115%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(160, 32, 240, 0.19); /* Cambia este valor según la opacidad deseada */
    box-shadow: none;
    border: none;
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 30%;
    color: #A020F0;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

.profile-button {
    font-weight: 600; /* Semibold */
    font-size: 115%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(141, 203, 226, 0.4); /* Cambia el valor de opacidad según tus necesidades */
    box-shadow: none;
    border: none;
    width: 143%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 30%;
    color: #0088CC;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}
.profile-button1 {
    font-weight: 600; /* Semibold */
    font-size: 115%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(141, 203, 226, 0.4); /* Cambia el valor de opacidad según tus necesidades */
    box-shadow: none;
    border: none;
    width: 143%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 10%;
    color: #0088CC;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

.image-container3 {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    background-image: url('../../images/Dados.jpg'); /* Ruta de la imagen que se utilizará como fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del div */
    background-position: center; /* Centra la imagen en el div */
}

.image-container {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    background-image: url('../../images/fondoletras.jpg'); /* Ruta de la imagen que se utilizará como fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del div */
    background-position: center; /* Centra la imagen en el div */
}

.image-container2 {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    background-image: url('../../images/Fondopeluches.png'); /* Ruta de la imagen que se utilizará como fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del div */
    background-position: center; /* Centra la imagen en el div */
}



.back:hover {
    color: #682773;
    cursor: pointer
}

.conetedor-bebes {
    margin-left: 7%
}

.title-bebes {
    font-weight: 600; /* Semibold */
    font-size: 115%;
    font-family: 'Baloo 2', sans-serif;
}

.experience {
    font-size: 20px;
    font-family: 'Baloo 2', sans-serif;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.form-control {
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 150%;
    background-color: white;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    text-align: center;
}
.form-control1 {
    margin-top:10px;
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 100%;
    background-color: white;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    text-align: center;
}
.form-controlinterno {
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 150%;
    background-color: white;
    color: #706c6c;
    font-size: 50%;
    padding: .6em .3em;
    text-align: center;
}
.form-controlinterno1 {
    margin-left: -80px;
    margin-top: 10px;
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 100%;
    width: 100%;
    background-color: white;
    color: #706c6c;
    font-size: 50%;
    padding: .6em .3em;
    text-align: center;
}

.form-controlddl {
    border: 1px solid #3399CC; /* Color del borde deseado */
    border-radius: 3px;
    width: 100%;
    background-color: white;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
}

select.form-control {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.row1 {
    width: 70%;
    text-align: center;
    font-size: 110%;
    font-family: 'Baloo 2', sans-serif;
}

.row2 {
    width: 29%;
    height: 50%;
    text-align: center;
    font-size: 150%;
    font-family: 'Baloo 2', sans-serif;
    margin-top: 10%;
}

.form-control:not(:placeholder-shown) {
    /* Color cuando se digita en el textbox*/
    color: #000000;
}

.Formulario-Expediente {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F6E0ED;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10%;
    width: 80%;
}

.form-control:focus + .form_label,
.form-control:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(1.2);
    transform-origin: left top;
    /*Color del label cuando se toca el textbox*/
    color: #0029ff;
    outline: none; /* Evita el resaltado al hacer clic */
}

.textarea {
    resize: none;
    background-image: url(../../images/agenda.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    color: white;
    font-size: 17px;
    border-radius: 5%;
    font-family: 'Baloo 2', sans-serif;
}

.textareaNombres {
    resize: none;
    background-color: #8DCBE2;
    margin-top: 10px;
    color: white;
    font-size: 28px;
    border-radius: 5%;
    border-radius: 5%;
    font-family: 'Baloo 2', sans-serif;
}

.textareaNombress {
    resize: none;
    background-color: #8DCBE2;
    margin-top: 10px;
    color: white;
    font-size: 28px;
    border-radius: 5%;
    border-radius: 5%;
    font-family: 'Baloo 2', sans-serif;
    width: 100%;
}




.form_label {
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 18px;
    color: var(--color);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(12px);
    transition: transform .5s, color .3s;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #444cf7;
    transform: scale(1);
    transform: left bottom;
    transition: transform .4s;
}

.contenedortxtareas {
    width: 50%;
}

.txtPeso {
    width: 100%;
}

.txt2 {
    width: 80%;
    margin-left: 10%;
}

.imagen1 {
    width: 35%;
    height: 10%;
    border-radius: 15%;
    margin-top: 5%;
    margin-left: 5%;
}

.imagen2 {
    width: 25%;
    height: 10%;
    border-radius: 15%;
    margin-top: 5%;
    margin-left: 5%;
}

.DivTable1 {
    width: 30%; /* Ancho deseado para el div */
    height: 100%; /* Alto deseado para el div */
    text-align: center;
    margin-left: 10%;
}

.DivTable {
    width: 50%; /* Ancho deseado para el div */
    height: 100%; /* Alto deseado para el div */
    overflow: auto; /* Añade una barra de desplazamiento si el contenido del div es más grande */
    text-align: center;
    background-image: url(../../images/tabla.png);
    background-size: cover;
    background-position: center;
}

.DivTableExpediente {
    width: 100%; /* Ancho deseado para el div */
    height: 100%; /* Alto deseado para el div */
    overflow: auto; /* Añade una barra de desplazamiento si el contenido del div es más grande */
    background-image: url(../../images/expediente.png);
    background-size: cover;
    background-position: center;
}


.tabla {
    width: 100%; /* Ajusta el ancho del GridView al 100% del contenedor */
    height: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
    background-color: darkorange;
    opacity: 0.9;
}

    .tabla th {
        border: 1px solid white; /* Borde para las celdas de encabezado */
        color: white;
        padding: 8px; /* Espaciado interno de las celdas de encabezado */
    }

    /* Estilo para las celdas del cuerpo del GridView */
    .tabla td {
        border: 1px solid white; /* Borde para las celdas del cuerpo */
        color: white;
        padding: 8px; /* Espaciado interno de las celdas del cuerpo */
    }

.tabla2 {
    width: 100%; /* Ajusta el ancho del GridView al 100% del contenedor */
    height: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    opacity: 0.9;
}

    .tabla2 th {
        border: 1px solid white; /* Borde para las celdas de encabezado */
        color: white;
        padding: 8px; /* Espaciado interno de las celdas de encabezado */
    }

    /* Estilo para las celdas del cuerpo del GridView */
    .tabla2 td {
        border: 1px solid white; /* Borde para las celdas del cuerpo */
        color: white;
        padding: 8px; /* Espaciado interno de las celdas del cuerpo */
    }


.divBoton1 {
    width: 11%;
    margin-left: 40%;
}

.divBoton2 {
    width: 11%;
    margin-left: 10%;
}

.botonesSeguimiento {
    width: 100%;
    text-align: center;
}

.EnumeradorConsejo {
    font-family: 'Baloo 2', sans-serif;
    font-size: 300%;
    text-align: center;
}
/*:::Ventana Modal 1:::*/
#btn-modal1 {
    display: none;
}

.container-modal1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal1:checked ~ .container-modal1 {
    display: flex;
}

.content-modal1 {
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background-color: #F6E0ED;
    opacity: 0.8;
    border-radius: 4px;
}

    .content-modal1 h2 {
        margin-bottom: 15px;
    }

    .content-modal1 .btn-cerrar1 {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

        .content-modal1 .btn-cerrar1 label {
            font-family: 'Baloo 2', 'sans-serif';
            font-size: 10px;
            font-weight: 600;
            padding: 7px 10px;
            background: rgba(141, 203, 226, 8); /* Cambia el valor de opacidad según tus necesidades */
            color: #0088CC;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }

            .content-modal1 .btn-cerrar1 label:hover {
                background-color: #185E83;
            }

.cerrar-modal1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*:::Ventana Modal 2:::*/
#btn-modal2 {
    display: none;
}

.container-modal2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal2:checked ~ .container-modal2 {
    display: flex;
}

.content-modal2 {
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background-color: #F6E0ED;
    opacity: 0.8;
    border-radius: 4px;
}

    .content-modal2 h2 {
        margin-bottom: 15px;
    }

    .content-modal2 .btn-cerrar2 {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

        .content-modal2 .btn-cerrar2 label {
            font-family: 'Baloo 2', 'sans-serif';
            font-size: 10px;
            font-weight: 600;
            padding: 7px 10px;
            background: rgba(141, 203, 226, 8); /* Cambia el valor de opacidad según tus necesidades */
            color: #0088CC;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }

            .content-modal2 .btn-cerrar2 label:hover {
                background-color: #185E83;
            }

.cerrar-modal2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*:::Ventana Modal 3:::*/
#btn-modal3 {
    display: none;
}

.container-modal3 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal3:checked ~ .container-modal3 {
    display: flex;
}

.content-modal3 {
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background-color: #F6E0ED;
    opacity: 0.8;
    border-radius: 4px;
}

    .content-modal3 h2 {
        margin-bottom: 15px;
    }

    .content-modal3 p {
        padding: 15px 0px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }

    .content-modal3 .btn-cerrar3 {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

        .content-modal3 .btn-cerrar3 label {
            font-family: 'Baloo 2', 'sans-serif';
            font-size: 10px;
            font-weight: 600;
            padding: 7px 10px;
            background: rgba(141, 203, 226, 8); /* Cambia el valor de opacidad según tus necesidades */
            color: #0088CC;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }

            .content-modal3 .btn-cerrar3 label:hover {
                background-color: #185E83;
            }

.cerrar-modal3 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.radio-button {
    width: 500px
}

.txtnombre {
    margin-top: 5px;
}

.btn-modal {
    margin-top: 1%;
    width: 30%;
}

.drop-actividades {
    width: 30%;
    margin-left: 10%;
}

.txtfecha1 {
    width: 15%;
    margin-left: 2%;
}

.txtfecha2 {
    width: 15%;
    margin-left: 8%;
}

@media (max-width: 700px) {

    .imgjuguete1 {
        display: none;
    }

    .imgjuguete2 {
        display: none;
    }

    .textareaNombress {
        width: 320px;
        margin-left: -40px;
        height: 300px;
    }

    .txtfecha1 {
        width: 20%;
        margin-left: -16px;
    }

    .txtfecha2 {
        width: 20%;
        margin-left: 4%;
    }

    .drop-actividades {
        width: 50%;
        margin-left: 1%;
    }

    .drop-actividadess {
        width: 120%;
        margin-left: 1%;
    }

    .contenedor-filtros {
        margin-top: 30px
    }

    .btn-modal {
        margin-top: 20px;
        width: initial;
    }

    .txtnombre {
        margin-top: 10px;
        margin-left: 20px;
    }

    .radio-button {
        width: 390px;
        margin-left: -30px;
        max-width: initial
    }

    .textareaNombres {
        width: 360px;
        height: 300px;
    }

    .img-osito {
        display: none;
    }

    .imagen1 {
        width: 45%;
        height: 5%;
        border-radius: 15%;
        margin-top: 14%;
        margin-left: 1%;
    }

    .Formulario-Expediente {
        background-color: #F6E0ED;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 10%;
        width: 135%;
        margin-left: 15px;
    }

    .imagen2 {
        width: 40%;
        height: 10%;
        border-radius: 15%;
        margin-top: 14%;
        margin-left: 5%;
    }

    .boton-con-imagen2 {
        width: 100px;
        height: 60px;
    }

    .boton-con-imagen {
        width: 100px;
        height: 60px;
        margin-right: 10%;
    }

    .row1 {
        width: 100%;
        text-align: center;
        font-size: 110%;
        font-family: 'Baloo 2', sans-serif;
        padding-left: initial
    }

    .row2 {
        width: 100%;
        text-align: center;
        font-size: 110%;
        font-family: 'Baloo 2', sans-serif;
    }

    .contenedortxtareas {
        width: 100%;
    }

    .textarea {
        resize: none;
        background-color: #8DCBE2;
        margin-top: 10px;
        color: white;
        font-size: 17px;
        border-radius: 5%;
        border-radius: 5%;
        font-family: 'Baloo 2', sans-serif;
    }

    .divBoton1 {
        width: 30%;
        margin-left: 20%;
    }

    .divBoton2 {
        width: 29%;
        margin-left: 4%;
    }

    .DivTable1 {
        display: none;
    }

    .DivTable {
        width: 100%; /* Ancho deseado para el div */
        height: 100%; /* Alto deseado para el div */
        overflow: auto; /* Añade una barra de desplazamiento si el contenido del div es más grande */
        background-image: url(../../images/tabla.png);
        background-size: cover;
        background-position: center;
    }

    .EnumeradorConsejo {
        font-family: 'Baloo 2', sans-serif;
        font-size: 110%;
        text-align: center;
        margin-left: 20%;
    }

    .profile-button {
        width: 183%;
        margin-left: 10%;
        font-size: 20px;
        margin-top: 25px;
    }
    .form-controlinterno {
        height: 50px;
        width: 210%;
        margin-left: -30px;
        font-size: 150%;
        margin-top: 10px;
    }
    .form-controlddl {
        margin-top: 10px;
        margin-left: -15px;
        font-size: 1rem;
      
    }
    .profile-button1 {
        font-size: 20px;
        margin-top: 10px;
        width: 143%;
        border-radius: 10px;
        display: block;
        margin-left: 15%;
    }
    .form-controlinterno1 {
        margin-left: -20px;
        margin-top: 10px;
       
        font-size: 100%;
       
    }
}
