@import url('https://fonts.googleapis.com/css?family=Baloo+2');


.Tarjeta1 {
    background-color: #F495B6;
    width: 20%;
    border-radius: 10%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left:10%;
}
.Tarjeta2 {
    background-color: #F495B6;
    width: 20%;
    border-radius: 10%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

@media (max-width: 1000px) {
    .Tarjeta1 {
        background-color: #F495B6;
        width: 90%;
        border-radius: 10%;
        text-align: center;
        padding-bottom: 2%;
        padding-top: 2%;
        margin-top:2%
    }
        .Tarjeta1 img {
            
        }
]