@import url('https://fonts.googleapis.com/css?family=Baloo+2');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    background: #ffffff;
    max-width: auto;
    max-height: auto;
    overflow-x: hidden;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 1%;
    float: left;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 85px;
    font-size: 30px;
    background-color: #FFC0CB;
    padding: 10px;
    border-radius: 5px;
    color: #191970;
}

h2 {
    font-size: 450%;
}

.row {
    background: #ffecf7
}

.container.rounded {
    margin-top: 700px;
    background-color: #FFC0CB;
}

.container-con-borde {
    border: 3.5px dashed rgba(255, 20, 147, 0.75);
    background-color: #FFC0CB;
    margin-top: 700px;
}

.profile-buttonddl {
    font-weight: 600; /* Semibold */
    font-size: 130%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(160, 32, 240, 0.19); /* Cambia este valor según la opacidad deseada */
    box-shadow: none;
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 5%;
    color: #A020F0;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

    .profile-buttonddl:hover {
        background: #682773;
    }

.profile-buttonddll {
    font-weight: 600; /* Semibold */
    font-size: 130%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(255, 255, 0, 0.25);
    box-shadow: none;
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 5%;
    color: #FFD200;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}
    .profile-buttonddll:hover {
        background: #FFD200;
    }
.profile-buttonCompartir {
    font-weight: 600; /* Semibold */
    font-size: 130%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(141, 203, 226, 0.8); /* Cambia el valor de opacidad según tus necesidades */
    box-shadow: none;
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 5%;
    color: #0088CC;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}



.profile-button {
    font-weight: 600; /* Semibold */
    font-size: 135%;
    font-family: 'Baloo 2', sans-serif;
    background: rgba(141, 203, 226, 0.4); /* Cambia el valor de opacidad según tus necesidades */
    box-shadow: none;
    border: none;
    height: 40px;
    width: 143%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-left: 3%;
    color: #0088CC;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

.btn-disabled {
    pointer-events: none; /* Evita la interacción del usuario con el botón */
    opacity: 0.6; /* Opacidad para indicar que el botón está deshabilitado */
    /* Agrega otros estilos visuales deseados para el botón deshabilitado */
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.conetedor-bebes {
    margin-left: 7%;
    color:black;
}

.title-bebes {
    font-weight: 600; /* Semibold */
    font-size: 115%;
    font-family: 'Baloo 2', sans-serif;
}

.experience {
    font-size: 20px;
    font-family: 'Baloo 2', sans-serif;
}


.add-experience {
    text-decoration: none;
}

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

.form-control {
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 150%;
    background: none;
    color: #706c6c;
    font-size: 1.4rem;
    padding: .2em .3em;
}
.form-control-rol {
    border: 2px dashed #3399CC; /* Color del borde deseado */
    width: 90%;
    height:20%;
    background: none;
    color: #706c6c;
    font-size: 1.4rem;
    padding: .2em .3em;
}

.form-controlddl {
    border: 1px solid #3399CC; /* Color del borde deseado */
    border-radius: 3px;
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
}

select.form-control {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

select.form-control-rol {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}



.form-control:not(:placeholder-shown) {
    /* Color cuando se digita en el textbox*/
    color: #000000;
}
.form-control-rol:not(:placeholder-shown) {
    /* Color cuando se digita en el textbox*/
    color: #000000;
}



    .form-control:focus + .form_label,
    .form-control:not(:placeholder-shown) + .form_label {
        transform: translateY(-12px) scale(1.2);
        transform-origin: left top;
        /*Color del label cuando se toca el textbox*/
        color: #0029ff;
        outline: none; /* Evita el resaltado al hacer clic */
    }

    .form-control-rol:focus + .form_label,
    .form-control-rol:not(:placeholder-shown) + .form_label {
        transform: translateY(-12px) scale(1.2);
        transform-origin: left top;
        /*Color del label cuando se toca el textbox*/
        color: #0029ff;
        outline: none; /* Evita el resaltado al hacer clic */
    }




.form_label {
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 23px;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #444cf7;
    transform: scale(1);
    transform: left bottom;
    transition: transform .4s;
}



h2 {
    color: #ffffff;
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 40px;
    font-weight: 600;
}

.label-codigo {
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 31px;
    font-weight: 500;
    color: #ffffff;
}

.input_email {
    border-radius: 3px;
    width: 20rem;
    height: 3rem;
}


/*:::Fin Boton-Modal:::*/
/*:::Ventana Modal:::*/
#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(190, 32, 240, 0.36); /* Cambia este valor según la opacidad deseada */
    border-radius: 4px;
}

    .content-modal h2 {
        margin-bottom: 15px;
    }

    .content-modal p {
        padding: 15px 0px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }

    .content-modal .btn-cerrar {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

        .content-modal .btn-cerrar label {
            font-family: 'Baloo 2', 'sans-serif';
            font-size: 10px;
            font-weight: 600;
            padding: 7px 10px;
            background: rgba(141, 203, 226, 8); /* Cambia el valor de opacidad según tus necesidades */
            color: #0088CC;
            border-radius: 4px;
            cursor: pointer;
            transition: all 300ms ease;
        }

            .content-modal .btn-cerrar label:hover {
                background-color: #185E83;
            }

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image-containerRight {
    float: right;
    margin-top: -15%;
    margin-right: 30%;
}

.image-wrapper {
    margin-top: -85px;
    margin-left: 160%;
}

    .image-wrapper img {
        width: 17.8rem; /* Ajusta el ancho según sea necesario */
        height: auto; /* La altura se ajustará proporcionalmente según el ancho */
    }



@media screen and (max-width:800px) {
    .content-modal {
        width: 90%;
    }

    .image-containerRight {
        display: none;
    }

}
/*:::Fin Ventana Modal:::*/











@media (max-width: 767px) {
    .contenedor2 {
        /*display: block;  Otra opción para eliminar los atributos flex */
        justify-content: initial;
        align-items: initial;
    }

    .conetedor-bebes {
        margin-left: 0%
    }

    .form-control {
        border: 2px dashed #3399CC; /* Color del borde deseado */
        font-size: 1rem;
        width: 150%;
        background: none;
        color: #706c6c;
    }

    .experience {
        font-size: 20px;
        font-family: 'Baloo 2', sans-serif;
    }

    .image-containerRight {
       display:none;
    }
}
