body {
    background-color: #FFFFFF;
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir espacio entre contenedores */
    box-sizing: border-box;
}

.contenedorIzquierdo {
    width: 41%;
    float: left;
    height: 80%;
    margin: 1%;
}

.contenedorCentro {
    width: 38%;
    float: left;
    height: 80%;
    margin: 1%;
}

.contenedorDerecho {
    width: 15%;
    float: left;
    height: 80%;
    margin: 1%;
}

.cabeceraContenedorIzquierda {
    width: 100%;
    height: 20%;
    top: 0;
}

.tituloIzquierda1 {
    height: 70%;
    width: 85%;
    float: left;
    color: mediumblue;
    font-family: Comfortaa;
    background-color: #F6E0ED;
    font-size: 30px;
    text-align: center;
}

.tituloIzquierda2 {
    width: 15%;
    float: left;
    height: 100%;
    padding: 1%;
}

.listaVacunas {
    width: 100%;
    height: 6%;
    text-align: center;
    margin: 2%;
    color: #DF599D;
    font-size: 18px;
}

.registrarVacuna {
    width: 100%;
    height: 10%;
    border-radius: 15%;
    font-size: 18px;
}

.registrarVacunaLogo {
    width: 10%;
    float: left;
    height: 100%;
    margin: 1%;
    padding: 1%;
}

.registrarVacunaTexto {
    width: 85%;
    border-radius: 3%;
    background-color: #F6E0ED;
    float: left;
    height: 100%;
    margin: 1%;
}

.textoRegistrarVacuna {
    text-align: center;
    font-size: 18px;
    align-items: center;
    color: #DF599D;
}

.contenedorVacunas {
    width: 100%;
    overflow-y: auto;
    height: 60%;
}

.Vacuna {
    margin-top: 1%;
    width: 100%;
    height: 15%;
    border-radius: 15%;
}

.VacunaLogo {
    width: 10%;
    float: left;
    height: 100%;
    margin: 1%;
    padding: 1%;
}

.VacunaTexto {
    width: 85%;
    border-radius: 3%;
    background-color: #8DCBE2;
    float: left;
    height: 100%;
    margin: 1%;
}

.textoNuevaVacuna {
    text-align: center;
    font-size: 16px;
    align-items: center;
    color: #3399CC;
}

.cabeceraContenedorCentro {
    height: 10%;
    top: 0;
}

.tituloCentro {
    width: 100%;
    height: 90%;
    color: #DF599D;
    font-size: 24px;
    text-align: center;
}

.cuadroVacuna {
    width: 98%;
    height: 88%;
    background-color: #F6E0ED;
    border-radius: 5%;
}

.tituloVacuna {
    width: 95%;
    height: 10%;
    margin: 1.5%;
}

.textoTituloVacuna {
    text-align: center;
    color: #191970;
    align-content: center;
}

.descripcionVacuna {
    width: 95%;
    height: 75%;
    margin: 1.5%;
}

.textoDescripcionVacuna {
    text-align: center;
    color: #191970;
    /*align-content:center;*/
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.fechaVacuna {
    width: 95%;
    height: 10%;
    margin: 1.5%;
}

.textoFechaVacuna {
    text-align: center;
    color: #191970;
    align-content: center;
}

.imagenContenedorDerecha {
    width: 95%;
    height: 50%;
    top: 0;
    padding-top: 1%
}

.botonRegistrar {
    background-color: transparent; /* Establecer el color de fondo como transparente */
    border: none; /* Quitar el borde del botón */
    padding: 10px 20px; /* Añadir relleno para que el botón sea visible */
    color: #DF599D;
}

.textbox {
    background-color: transparent;
    border: none;
    color: #DF599D;
    text-align: center;
    width: 90%;
}

.textboxDescripcion {
    background-color: transparent;
    border: none;
    color: #DF599D;
    /*text-align: center;*/
    height: 96%;
    width: 96%;
    margin: 1%;
    white-space: normal;
}

.botonAceptar {
    display: flex;
    justify-content: center;
    margin: 5% 1% 1% 5%;
    align-items: center;
    background-color: #8DCBE2;
    height: 10%;
    width: 96%;
    border-radius: 25%;
}

.btnAceptar {
    background-color: transparent;
    border: none;
    text-align: center;
    color: #3399CC;
    font-size: 18px;
}

.piePagina {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {
    .imagenContenedorDerecha {
        display: none;
    }

    .registrarVacunaLogo {
        display: none;
    }

    .contenedor {
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    .contenedorIzquierdo,
    .contenedorCentro {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
        margin: 2% 0;
    }

    .contenedorDerecho {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
        margin-left: -20px;
    }

    .tituloIzquierda2 {
        display: none;
    }

    .listaVacunas {
        display: none;
    }

    .contenedorVacunas {
        width: 100%;
        overflow-y: initial;
        height: 60%;
    }

    .contenedor {
        width: 100%;
        height: auto;
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    .VacunaLogo {
        display: none;
    }

    .piePagina {
        position: initial;
        margin-top: 38%;
    }

    .tituloIzquierda1 {
        margin-top: 20px;
    }

    .registrarVacunaTexto {
        margin: 22px auto;
    }

    .botonAceptar {
        margin: 5% 1% 1% 10%;
        height: 9%;
        width: 85%;
    }
}
