@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

body {
    background: white;
}

nav .logo {
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    line-height: 40px;
    justify-content: center
}

    nav .logo img {
        height: 65px;
        width: auto;
        transition: all 0.3s;
    }

.logo img:hover {
    transform: scale(1.2);
}
.navbar {
    background: #F6E0ED;
}


.container-fluid {
    font-family: 'Baloo 2', sans-serif;
    font-weight:600;
    font-size: 23px;
    color: #D281B2;
}
.ddd {
    color: #00FF00;

}
/* styles.css */
/* Change the color of normal navigation links */
.navbar-nav .nav-link {
    color: #D281B2; /* Cambia el color a tu preferencia (en este caso, verde) */
}
    .navbar-nav .nav-link:hover {
        color: #006cff; /* Cambia el color a tu preferencia (en este caso, rojo) */
    }
.rectangulo-fondoSesion {
    background-color: #3EB6B6;
    color: #ffffff;
    border-radius: 10px;
}

.rectangulo-fondoRegis {
    background-color: #AEB9CA;
    color: red;
    border-radius: 10px;
}
/* styles.css */

/* Cambiar el color del botón y el icono */
.custom-toggler {
    color: red; /* Cambia el color a tu preferencia (por ejemplo, blanco) */
    background-color: red; /* Cambia el color de fondo del botón a tu preferencia */
}

    /* Cambiar el color del icono del botón cuando se pasa el cursor (hover) */
    .custom-toggler:hover .custom-toggler-icon {
        color: red; /* Cambia el color a tu preferencia (por ejemplo, amarillo) */
    }
